* {
    cursor: default;
}

h1 {
    text-align: center;
}

.listNames {
    text-align: center;
}

h6 {
    color: black;
}

.header.card-name {
    margin-bottom: 3%;
}

.list {
    text-align: center;
}