* {
    cursor: default;
}

h1 {
    text-align: center;
}

.listNames {
    text-align: center;
}

h6 {
    color: black;
}

.header.card-name {
    margin-bottom: 3%;
}

.list {
    text-align: center;
    align-items: center;
}

.mealItem {
    margin: 3%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #42b2a6;
    border-width: 4px 3em;
}

.buttons {
    position: relative;
    left: 50%;
    width: 100%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}