.ui.item.logout {
    font-size: 10px;
    position: absolute;
    right: -50px;
    height: 75px;
}

.logo {
    letter-spacing: 5px !important;
    color: rgb(250, 239, 135, 0.967);
    font-size: 30px;
    border-style: double;
    padding: 6px;
}

.ui.teal.six.item.menu {
    /* position: sticky; */
    /* position: -webkit-sticky; */
    top: 0;
}

.header.item.navitem {
    letter-spacing: 5px;
    font: 18px 'lato', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 18px;
    float: right;
    margin-left: 50px;
    transition: 1.5s;
}

.header.item.navitem:hover {
    transition: 1.5s;
    color: black !important;
}

.item.loggedin {
    font-size: 10px;
    right: 125%;
}

.ui.menu {
    font-size: 1rem;
    padding-top: 0%;
    background-color: #8fbc8f;
}

.ui.pointer.menu {
    justify-content: space-between;
}

.nav {
    margin: 0;
    display: table;
    width: 100%;
    position: sticky;
    opacity: 1;
}

.yelppicture {
    height: 300px;
}

h4:last-child {
    color: aliceblue;
}

.active h4:last-child {
    color: black;
}

.ui.icon.header.mealIconBox {
    width: 100%;
}

.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-marker {
    background: none;
    border: none;
    position: absolute;
}

.restaurant-marker img {
    width: 25px;
}

.ui.form.homepage {
    width: 500px;
    margin-left: -150px;
}


/* .ui.form.signUp {
    margin-left: 29%;
} */

button.ui.button.primary {
    margin-right: 23% !important;
    width: 25%;
    font-size: 18px;
}

.ui.button.primary {
    margin-bottom: 15px;
}

.homeGrid {
    position: relative;
    left: -20px;
}

.column h3 {
    text-align: center;
}

.list-content {
    width: 50%;
    text-align: center;
    left: 25% !important;
    position: relative;
}

.content {
    padding-top: 2% !important;
}

.ui.icon.header.lists {
    top: -90px !important;
}

.ui.button.meals {
    width: 100%;
    margin-top: 3%;
}

.content a {
    color: #009688;
}

.content h5 {
    margin-bottom: 10px;
}

.item.item {
    border: onset;
}


/* .ui.input>input {
    max-width: 500% !important;
} */

h1.HomeHeader {
    color: white;
    margin-bottom: 2%;
    letter-spacing: 5px;
    vertical-align: middle;
    text-align: center;
}

img.leadingHomeIcons {
    left: -18px;
    transition: none 0s ease 0s;
    cursor: move;
    position: relative;
}

button.homePageButton {
    position: relative;
    left: 200px;
    transition: none 0s ease 0s;
    cursor: move;
    padding-right: 60px !important;
    padding-left: 60px !important;
}


/* .homePageButtonLogin {
    position: relative;
    left: 200px;
    transition: none 0s ease 0s;
    cursor: move;
    padding-right: 60px !important;
    padding-left: 60px !important;
    left: 450px;
    top: -40px !important;
} */

.redirectIcon {
    margin-top: 3%;
    margin-bottom: 3%;
}

.redirectIcon h2:hover,
.redirectIcon h3:hover {
    color: #0067ee;
}


/* .redirectIcon:first-child:hover {
    color: #0067ee;
} */

.formInputEl {
    width: 150% !important;
    max-width: 500% !important;
}

h5.homeNote {
    text-align: center;
    letter-spacing: 1px;
}

.ui.standard.modal.visible.active {
    text-align: center;
    left: 25%;
}

.ui.form.logout {
    position: relative;
    top: 15px;
    left: -22px;
}

.searchBar {
    width: 95% !important;
}

.parallax-container {
    height: 700px !important;
}

.copyright {
    height: 20px;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .ui.massive.button.homePageButton {
        transition: none 0s ease 0s;
        cursor: move;
        position: relative;
        top: 246px;
        left: 8%;
        width: 100% !important;
        height: 10% !important;
    }
    div.panel-body {
        position: relative;
        left: 85px;
        top: -80px;
    }
    .formInputEl {
        width: 150% !important;
    }
    .button.ui.button.primary.auth {
        margin-left: 40% !important;
        width: 100% !important;
    }
    .parallax-container {
        height: 60% !important;
    }
    .logo {
        display: none;
    }
    div.header.item.navitem {
        /* width: 20% !important; */
        contain: strict;
    }
    .header.item.navitem h4 {
        font-size: 3vw !important;
        position: relative;
    }
    button.ui.button.primary {
        margin-right: 0% !important;
        width: 50%;
        margin-left: 30% !important;
        margin-bottom: 5%;
    }
}