/* .app {
  background-image: url("./images/food-mood-app-background.jpeg");
} */

.active {
  color: greenyellow;
}

#loggedin {
  font-size: 10px;
}

.ui.menu {
  font-size: 1rem;
  padding-top: 0%;
  background-color: #8FBC8F;
}

.ui.pointer.menu {
  justify-content: space-between;
}

.nav {
  margin: 0;
  display: table;
  width: 100%;
}

.yelppicture {
  height: 300px;
}