.App {
  text-align: center;
}

.active {
  color: greenyellow;
}

#loggedin {
  font-size: 7px;
}

.ui.menu {
  font-size: 1rem;
  background-color: aqua;
}

.ui.pointer.menu {
  justify-content: space-between;
}